.root {
  cursor: pointer;
  transition: opacity .2s;
}

.open {
  background-color: map(colors, primary, base);
}

.inActive {
  opacity: .25;
  cursor: default;
}

.halfActive {
  opacity: .65;
}

.inner {
  height: 1.25em;
  opacity: .5;
}

.color {
  opacity: .5;
}

rect {
  fill: map(colors, partidos, otros);
}

[data-partido="Otros"] {
  fill: map(colors, partidos, otros);
  background-color: map(colors, partidos, otros);
}

[data-partido="Afros"] {
  fill: map(colors, partidos, afros);
  background-color: map(colors, partidos, afros);
}

[data-partido="Asi"] {
  fill: map(colors, partidos, asi);
  background-color: map(colors, partidos, asi);
}

[data-partido="Indígenas"] {
  fill: map(colors, partidos, indígenas);
  background-color: map(colors, partidos, indígenas);
}

[data-partido="Farc"] {
  fill: map(colors, partidos, farc);
  background-color: map(colors, partidos, farc);
}

[data-partido="Opción Ciudadana"] {
  fill: map(colors, partidos, opcionCiudadana);
  background-color: map(colors, partidos, opcionCiudadana);
}

[data-partido="Polo"], [data-partido="Polo Democrático Alternativo"] {
  fill: map(colors, partidos, polo);
  background-color: map(colors, partidos, polo);
}

[data-partido="Coalición Colombia"] {
  fill: map(colors, partidos, coalicionColombia);
  background-color: map(colors, partidos, coalicionColombia);
}

[data-partido="Alianza Verde"] {
  fill: map(colors, partidos, alianzaVerde);
  background-color: map(colors, partidos, alianzaVerde);
}

[data-partido="Lista De La Decencia"] {
  fill: map(colors, partidos, listaDeLaDecencia);
  background-color: map(colors, partidos, listaDeLaDecencia);
}

[data-partido="Liberal"] {
  fill: map(colors, partidos, liberal);
  background-color: map(colors, partidos, liberal);
}

[data-partido="La U"] {
  fill: map(colors, partidos, laU);
  background-color: map(colors, partidos, laU);
}

[data-partido="Cambio Radical"] {
  fill: map(colors, partidos, cambioRadical);
  background-color: map(colors, partidos, cambioRadical);
}

[data-partido="Mira"] {
  fill: map(colors, partidos, mira);
  background-color: map(colors, partidos, mira);
}

[data-partido="Conservador"] {
  fill: map(colors, partidos, conservador);
  background-color: map(colors, partidos, conservador);
}

[data-partido="Centro Democrático"] {
  fill: map(colors, partidos, centroDemocratico);
  background-color: map(colors, partidos, centroDemocratico);
}

[data-partido="Mais"] {
  fill: map(colors, partidos, mais);
  background-color: map(colors, partidos, mais);
}
