.root {
  cursor: pointer;
  transition: opacity .2s;
}

.open {
  background-color: map(colors, primary, base);
}

.inActive {
  opacity: .25;
  cursor: default;
}

.inner {
  height: 1.25em;
  opacity: .5;
}

.color {
  opacity: .5;
}

[data-partido="Liberal"] {
  fill: map(colors, partidos, liberal);
}

[data-partido="Conservador"] {
  fill: map(colors, partidos, conservador);
}

[data-partido="Opción Ciudadana"] {
  fill: map(colors, partidos, opcionCiudadana);
}

[data-partido="La U"] {
  fill: map(colors, partidos, laU);
}

[data-partido="Alianza Verde"] {
  fill: map(colors, partidos, alianzaVerde);
}

[data-partido="Centro Democrático"] {
  fill: map(colors, partidos, centroDemocratico);
}

[data-partido="ASI"] {
  fill: map(colors, partidos, asi);
}

[data-partido="Cambio Radical"] {
  fill: map(colors, partidos, cambioRadical);
}

[data-partido="Conservador"] {
  fill: map(colors, partidos, conservador);
}

[data-partido="Mira"] {
  fill: map(colors, partidos, mira);
}

[data-partido="Mais"] {
  fill: map(colors, partidos, mais);
}
