.root {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 2em;
  display: flex;
}

.inner {
  position: relative;
}

.extraIndent {
  margin-left: 3em;
  grid-column: span 2;
}

.heading {
  background-color: map(colors, espaciales, elecciones2015);
  color: #fff;
  font-family: Lato, Roboto, Helvetica, sans-serif;
  margin: 0;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.heading span {
  font-size: 7.3pt;
}

.buttons {
  text-align: center;
  border: 1px solid map(colors, secondary, light);
  border-left: 0;
  border-right: 0;
  padding: 5px 0;
  margin-bottom: 0.5em;
}

.btn {
  background-color: #fff;
  border: 1px solid map(colors, secondary, light);
  border-left-width: 0;
  border-radius: 0;
  padding: 0.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.btn:first-child {
  border-left-width: 1px;
  border-radius: 5px 0 0 5px;
}

.btn:last-child {
  border-radius: 0 5px 5px 0;
}

.btnActive {
  background-color: map(colors, neutral, lightest);
}

.name {
  background-color: #fff;
  padding: 1em;
  box-shadow: 0 3px 1em rgba(0, 0, 0, .3);
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(calc(-100% + 50px), calc(-100% + 8px));
  opacity: 0;
  transition: .200s;
  pointer-events: none;
  min-width: 15em;
}

.mounted {
  transform: translate(calc(-100% + 50px), calc(-100% - 8px));
  opacity: 1;
}

.photo {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 1em;
  flex-grow: 0;
  flex-shrink: 0;
}

.name::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 25px;
  display: block;
  width: 0;
  height: 0;
  border-left: 12.5px solid transparent;
  border-right: 12.5px solid transparent;
  border-top: 12.5px solid #fff;
  transform: translateY(100%);
}

.name h4 {
  margin: 0;
  font-size: 14px;
}

.name span {
  font-size: 13px;
}

.izqDer {
  width: 100%;
  margin: 1.5em 0;
  position: relative;
}

.izqDer::after {
  left: 50%;
}

.izqDerInner {
  width: 100%;
  height: 1px;
  background-color: #a8a8a8;
  position: relative;
  margin-bottom: 1em;
}

.izqDerInner::before,
.izqDerInner::after,
.izqDer::after {
  content: '';
  height: 1.5em;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  width: 1px;
  background-color: #a8a8a8;
}

.izqDerInner::before {
  left: 0;
}

.izqDerInner::after {
  right: 0;
}

.izqDer__text {
  text-transform: uppercase;
  color: #a8a8a8;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  font-size: 0.8em;
}

.izqDer__text span:first-child {
  text-align: left;
}

.izqDer__text span:last-child {
  text-align: right;
}