.root {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 2em;
  max-width: 76em;
}

.inner {
  position: relative;
}

.extraIndent {
  margin-left: 3em;
  grid-column: span 2;
}

.heading {
  background-color: map(colors, espaciales, elecciones2015);
  color: #fff;
  font-family: Lato, Roboto, Helvetica, sans-serif;
  margin: 0;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.heading span {
  font-size: 7.3pt;
}

.buttons {
  border-bottom: 1px solid map(colors, secondary, light);
  padding: 0;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  background-color: #fff;
  border: 1px solid map(colors, secondary, light);
  border-left-width: 0;
  border-radius: 0;
  padding: 0.8em 2em;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Lato', 'Roboto', sans-serif;
  font-size: 11px;
  color: #000;
  letter-spacing: 0.01em;
}

.btn:first-child {
  border-left-width: 1px;
  border-radius: 5px 0 0 5px;
}

.btn:last-child {
  border-radius: 0 5px 5px 0;
}

.btn:focus {
  outline: none;
  /*border-color: currentColor;*/
}

.btnActive {
  background-color: map(colors, neutral, lightest);
}

.name {
  background-color: #fff;
  padding: 1em;
  box-shadow: 0 3px 1em rgba(0, 0, 0, .3);
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(calc(-100% + 50px), calc(-100% + 8px));
  opacity: 0;
  transition: .200s;
  pointer-events: none;
  min-width: 15em;
  max-width: 20em;
}

.mounted {
  transform: translate(calc(-100% + 50px), calc(-100% - 8px));
  opacity: 1;
}

.photo {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 1em;
  flex-grow: 0;
  flex-shrink: 0;
}

.name::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 25px;
  display: block;
  width: 0;
  height: 0;
  border-left: 12.5px solid transparent;
  border-right: 12.5px solid transparent;
  border-top: 12.5px solid #fff;
  transform: translateY(95%);
}

.name h4 {
  margin: 0;
  font-size: 14px;
}

.name span {
  font-size: 13px;
  line-height: 1.2;
}

.izqDer {
  width: 100%;
  margin: 0 0 1em;
  position: relative;
  height: 2em;
}

.izqDer__line {
  position: absolute;
  background-color: #DADEE2;
  font-weight: 500;
  color: #000;
  padding: 3px;
  line-height: 1;
  font-size: .8em;
}

.legenda {
  border-top: 1px solid rgba(159, 152, 154, .5);
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  column-count: 5;
  max-width: 64em;
  font-size: .85em;
}

@media only screen and (max-width: 500px) {
  .list {
    column-count: 2;
  }
}

.item {
  display: flex;
  align-items: center;
  font-family: 'roboto condensed', 'roboto', sans-serif;
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
}

.circle {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  /*background-color: map(colors, partidos, otros);*/
  display: inline-block;
  margin-right: 0.75em;
}

.credits {
  width: 24em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}

.credits img {
  width: 78%;
}

.credits div {
  width: 45%;
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
}

.credits > div:first-child {
  padding-top: 1em;
}

.credits > div:last-child {
  width: 55%;
  border-left: 1px solid #C1C1C1;
}

.credits p {
  font-size: 10px !important;
  margin: 0.5em 0 0 1em;
  line-height: 1;
}

.label {
  color: map(colors, primary, base);
  font-weight: bold;
}